@font-face {
    font-family:Integral CF Bold ;
    src: url("../assets/font/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf");
}
@font-face {
    font-family: Satoshi;
    src: url("../assets/font/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf");
}
.about1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #F2F0F1;
    border-radius: 20px;
    padding: 20px;
    height: 500px;
    overflow: hidden;
}
.about-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_image{
  height: 100%;
  width: 100%;
}
.about{
    padding: 40px;
}
.about2{
    font-family:"Integral CF Bold" ;
    margin-bottom: 15px;
}
.about3{
    font-family: Satoshi;
    color: gray;
}
.about4{
    padding-left: 30px;
}
.about5{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    background:#F2F0F1;
    padding: 20px;
    border-radius: 20px;

}
.about6{
    padding: 40px;
    font-family: Satoshi;
}
.about7{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 40px;
    gap: 30px;
}
.about8{
    margin-bottom: 10px;
    font-family:"Integral CF Bold" ;
}
.about9{
       font-family: Satoshi;
    color: gray; 
    margin-bottom: 80px;
}
.about10{
    display: flex;
    justify-content: space-between;
    font-family: Satoshi;
}
.about11{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 40px;
    gap: 20px;
}
.about12{
    font-family:"Integral CF Bold" ;
    margin-bottom: 10px;
}
.about13{
    font-family: Satoshi;
    color: gray;
    margin-bottom: 15px;
}
.about14{
    font-family: Satoshi;
}
@media screen and (max-width: 768px){
    .about1{
        display: grid;
        grid-template-columns: 1fr;
        height: 700px;
    }
    .about5{
        display: grid;
        grid-template-columns: 1fr;
    }
    .about7{
        display: grid;
        grid-template-columns: 1fr;
    }
    .about11{
        display: grid;
        grid-template-columns: 1fr;
    }
    .about4{
        padding-left: 0;
    }
}